@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes toTop {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes circle {
  from {
      transform: scale(0);
      background-color: darken(#A4AEC6, 20%);
  }
  to {
      transform: scale(1);
      background-color: transparent;
  }
}