@media screen and (max-width: 1650px) {
  .categories {
    &__leaf {
      &--3 {
        left: 22%;
      }
      &--2 {
        bottom: -12%;
        left: 14%;
      }
    }
  }
  .doubt {
    &__leafs {
      &--1 {
        top: 5%;
      }
      &--2 {
        width: 160px;
        right: 0;
        bottom: 0;
      }
      &--3 {
        right: 2%;
        bottom: 40%;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .open {
    &__leaf {
      &--3 {
        display: none;
      }
    }
  }
  .stock {
    &__card {
      background-position-y: -40px;
      width: 450px;
      height: 360px;
      padding: 25px;
      &--comment {
        .stock__img {
          width: 220px;
        }
      }
      &--cashback {
        .stock__img {
          width: 235px;
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .categories {
    &__img {
      padding: 70px 15px 0;
    }
  }
  .inst {
    &__link {
      font-size: 20px;
    }
    &__button {
      width: 100%;
      padding: 15px 0;
      text-align: center;
      font-size: 18px;
    }
    &__logo {
      img {
        width: 180px;
      }
    }
    &__card {
      width: 280px;
      height: 280px;
      &--last {
        width: 280px;
        height: 280px;
        padding: 40px;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .filter {
    height: 70px;
    flex-wrap: wrap;
    &__veg {
      p {
        margin-right: 10px;
      }
    }
    &__input {
      &-text {
        font-size: 14px;
        padding: 10px;
      }
    }
    &__text {
      font-size: 16px;
    }
    &__title {
      font-size: 20px;
    }
    &__item {
      padding: 0 25px;
    }
  }
  .faq {
    &__container {
      padding: 120px;
    }
  }
  .slider {
    &__arrow {
      &--prev {
        left: -100px;
      }
      &--next {
        right: -100px;
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .product {
    &__tabs {
      &-advice {
        &--say {
          padding: 25px 40px;
        }
      }
    }
    &__box {
      &-text {
        margin-bottom: 35px;
      }
    }
    &__row {
      &--price {
        width: auto;
      }
      &--hit {
        margin-bottom: 15px;
      }
      &--stars {
        margin-bottom: 25px;
      }
      &--features {
        margin-bottom: 25px;
      }
      &--value {
        margin-bottom: 30px;
      }
    }
    &__img {
      width: 500px;
      height: 375px;
    }
  }
  .categories {
    &__card {
      width: 255px;
      &-footer {
        padding: 15px;
      }
      &-text {
        font-size: 20px;
      }
      &-img {
        width: 255px;
        height: 153px;
      }
    }
    &__img {
      width: 255px;
      &-title {
        font-size: 28px;
      }
      &-subtitle {
        font-size: 20px;
      }
    }
  }
  .footer {
    &__box {
      &--left {
        margin-right: 60px;
      }
    }
    &__img {
      width: 300px;
      transform: none;
      align-self: flex-end;
    }
  }
  .faq {
    &__container {
      padding: 100px;
    }
  }
  .stock {
    &__card {
      background-size: cover;
      background-position-y: 0;
      width: 380px;
      height: 304px;
      &--comment {
        .stock__img {
          width: 185px;
        }
      }
      &--cashback {
        .stock__img {
          width: 200px;
        }
      }
    }
    &__title {
      font-size: 36px;
      max-width: 250px;
    }
    &__text {
      font-size: 20px;
      max-width: 200px;
      &--small {
        font-size: 16px;
      }
    }
    &__subtitle {
      font-size: 30px;
    }
  }
  .slider {
    &__link {
      font-size: 18px;
    }
    &__arrow {
      &--prev {
        left: 0;
      }
      &--next {
        right: 0;
      }
    }
    &__container {
      padding-left: 75px;
      padding-right: 75px;
    }
    &__tab {
      width: 130px;
      height: 95px;
    }
    &__box {
      &-img {
        width: auto;
        height: 360px;
        flex-basis: 50%;
        margin-right: 0;
      }
    }
    &__content {
      flex-basis: 40%;
      &-link {
        font-size: 14px;
      }
    }
  }
  .doubt {
    &__box {
      margin-right: 70px;
    }
    &__leafs {
      &--1 {
        width: 70px;
      }
      &--3 {
        right: 0;
      }
      &--2 {
        width: 130px;
      }
    }
  }
  .main {
    &__leafs {
      &--1 {
        width: 190px;
      }
      &--7 {
        right: 2%;
      }
    }
  }

}

@media screen and (max-width: 1300px) {
  .filter {
    height: auto;
    display: block;
    padding: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    &__item {
      justify-content: center;
      border: none;
      margin-bottom: 15px;
      &:last-of-type {
        margin: 0;
      }
    }
  }
  .faq {
    &__leaf {
      &--2 {
        bottom: -27%;
      }
    }
    &__container {
      padding: 70px;
    }
    &__box {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .contacts {
    &__box {
      flex-basis: 40%;
    }
    &__map {
      flex-basis: 58%;
    }
  }
  .main {
    &__leafs {
      &--6 {
        right: 2%;
      }
      &--5 {
        right: 2%;
      }
      &--7 {
        bottom: 0;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .product {
    &__tabs {
      &-advice {
        padding: 20px;
        &-text {
          font-size: 14px;
        }
        &-img {
          margin-right: 20px;
        }
        &-name {
          font-size: 14px;
          &--author {
            font-size: 14px;
          }
        }
        &-title {
          font-size: 16px;
          margin-bottom: 15px;
          &--author {
            font-size: 16px;
          }
        }
      }
      &__row {
        margin-bottom: 40px;
      }
      &-header {
        margin-bottom: 30px;
      }
      &-tab {
        &-value {
          font-size: 10px;
          width: 21px;
          height: 21px;
        }
      }
      &-comment {
        &__row {
          &--stars {
            img {
              width: 20px;
            }
          }
        }
        &-text {
          font-size: 16px;
        }
        &-date {
          font-size: 14px;
          margin-bottom: 5px;
        }
        &-name {
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
      &-title {
        font-size: 20px;
      }
      &-text {
        font-size: 20px;
        &--desc {
          font-size: 16px;
        }
      }
    }
    &__price {
      &-text {
        margin: 0;
      }
    }
    &__title {
      font-size: 26px;
      margin-bottom: 40px;
    }
    &__img {
      width: 430px;
      height: 320px;
      margin-right: 40px;
    }
    &__value {
      &-text {
        margin-right: 25px;
      }
    }
  }
  .element {
    &__title {
      font-size: 28px;
      margin-bottom: 40px;
    }
    &__row {
      grid-template-columns: repeat(auto-fill, 277px);
      column-gap: 2px;
    }
  }
  .categories {
    &__img {
      width: 230px;
      padding-top: 30px;
    }
    &__card {
      width: 230px;
      &-img {
        width: 230px;
      }
    }
    &__container {
      grid-gap: 10px;
    }
  }
  .offer {
    padding-top: 80px;
    padding-bottom: 80px;
    &__leaf {
      display: none;
    }
    &__wrap {
      height: 485px;
    }
    &__row {
      &--stars {
        flex-direction: column-reverse;
        align-items: flex-start;
        .offer__card-block {
          margin-bottom: 10px;
          &:first-child {
            margin-bottom: 0;
          }
        }
      }
      &--top {
        margin-bottom: 40px;
      }
    }
    &__input {
      font-size: 18px;
      width: 20px;
    }
    &__title {
      margin-bottom: 45px;
    }
    &__tabs {
      &-text {
        font-size: 16px;
      }
      &-item {
        padding: 10px 30px;
      }
    }
    &__card {
      height: 470px;
      &-img {
        width: 225px;
        height: 160px;
        margin-bottom: 20px;
      }
      &-footer {
        &-item {
          font-size: 18px;
          padding: 10px 15px;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      &-title {
        font-size: 16px;
      }
      &-text {
        font-size: 12px;
      }
      &-weight {
        font-size: 12px;
        img {
          width: 15px;
          height: 15px
        }
      }
    }
  }
  .footer {
    padding-bottom: 50px;
    &__menu {
      padding: 20px 30px 0;
      height: 353px;  
    }
    &__box {
      padding-top: 20px;
      &--left {
        margin-right: 40px;
      }
    }
    &__img {
      width: 200px;
      align-self: center;
    }
    &__block {
      margin-bottom: 20px;
      &-box {
        margin-right: 50px;
      }
      &-link {
        margin-bottom: 15px;
      }
    }
    &__link {
      margin-bottom: 20px;
    }
    &__input {
      margin-bottom: 20px;
      width: 255px;
    }
  }
  .inst {
    padding-bottom: 60px;
    &__link {
      font-size: 16px;
    }
    &__button {
      font-size: 16px;
      padding: 10px 0px;
    }
    &__title {
      margin-bottom: 40px;
    }
    &__card {
      width: 215px;
      height: 215px;
      &--last {
        width: 215px;
        height: 215px;
        padding: 20px
      }
    }
    &__logo {
      img {
        width: 130px;
      }
    }
  }
  .faq {
    &__button {
      font-size: 18px;
    }
    &__title {
      margin-bottom: 40px;
    }
    &__text {
      font-size: 18px;
    }
  }
  .contacts {
    &__title {
      margin-bottom: 45px;
    }
    &__tabs {
      top: 140px;
    }
  }
  .open {
    &__leaf {
      &--1 {
        width: 150px;
        left: 7%;
        top: 17%;
      }
    }
    &__row {
      grid-template-columns: auto 230px 230px;
      grid-template-rows: repeat(11, 28px);
      align-items: center;
      justify-content: center;
    }
    &__img {
      width: 230px;
      height: 219px
    }
    &__bg {
      &--2 {
        display: none;
      }
    }
  }
  .partners {
    &__title {
      margin-bottom: 55px;
    }
    &__logo {
      &--1 {
        width: 55px;
      }
      &--2, &--5 {
        width: 105px;
      }
      &--3, &--6 {
        width: 130px;
      }
      &--4 {
        width: 100px;
      }
    }
  }
  .slider {
    &__row--title {
      margin-bottom: 45PX;
    }
    padding-bottom: 80px;
    &__content {
      flex-basis: 42%;
    }
    &__box {
      &-img {
        height: 300px;
      }
    }
    &__tab {
      width: 110px;
      height: 82px;
    }
  }
  .doubt {
    margin-top: 0;
    &__text {
      font-size: 24px;
      max-width: 500px;
    }
    &__box {
      margin-right: 10px;
    }
    &__leafs {
      &--2 {
        width: 115px;
      }
      &--1 {
        top: 1%;
      }
    }
  }
  .advantages {
    padding-bottom: 160px;
    &__text {
      font-size: 16px;
      &--4 {
        max-width: 190px;
      }
    }
    &__img {
      width: 170px;
      height: 160px;
      margin-bottom: 20px;
    }
    &__olives {
      width: 120px;
      right: 20%;
    }
  }
  .section {
    &__title {
      font-size: 36px;
    }
  }
  .stock {
    padding-left: 10px;
    padding-right: 10px;
    &__leaf {
      width: 50px;
    }
    &__title {
      font-size: 24px;
      line-height: 100%;
      max-width: 165px;
      &-box {
        margin-bottom: 10px;
      }
    }
    &__link {
      width: 25px;
      height: 25px;
    }
    &__subtitle {
      font-size: 16px;
      line-height: 90%;
      margin-bottom: 5px
    }
    &__card {
      border-radius: 10px;
      padding: 20px 15px;
      width: 315px;
      height: 252px;
      &--comment {
        .stock__img {
          width: 155px;
        }
      }
      &--cashback {
        .stock__img {
          width: 165px;
        }
      }
    }
    &__img {
      width: 300px;
      border-radius: 10px;
    }
    &__text {
      font-size: 16px;
      max-width: 160px;
      &--price {
        max-width: 110px;
      }
      &--small {
        font-size: 14px;
        max-width: 170px;
      }
    }
  }
  .step {
    padding-bottom: 190px;
    &__img {
      width: 170px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
    }
    &__card {
      height: 280px;
    }
    &__text {
    font-size: 16px;
    line-height: 130%; 
    }
    &__title {
      font-size: 30px;
      margin-bottom: 45px;
    }
  }
  .main {
    padding-bottom: 80px;
    &__title {
      font-size: 47px;
      line-height: 70%;
      max-width: 460px;
    }
    &__img {
      width: 400px;
    }
    &__leafs {
      &--6 {
        top: 10%;
      }
      &--5 {
        width: 80px;
      }
      &--3 {
        left: 49%;
      }
      &--4 {
        left: 52%;
      }
      &--1 {
        width: 140px;
      }
      &--7 {
        width: 60px;
        bottom: 3%;
      }
    }
  }
  .header {
    &__tel {
      margin-right: 20px;
    }
    &__logo {
      width: 150px;
    }
  }
  .nav {
    &__link {
      margin-right: 20px;
    }
  }
}
@media screen and (max-width: 992px) {
  .product {
    background-position-y: 100%;
    &__tabs {
      &-container {
        margin-top: 0;
      }
      &-advice {
        order: -1;
        margin-bottom: 40px;
      }
      &__row {
        flex-direction: column;
        align-items: center;
      }
    }
    &__value {
      &-text {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
    &__img {
      margin-right: 0;
      margin-bottom: 25px;
      width: 525px;
      height: 350px;
    }
    &__title {
      text-align: center;
    }
    &__row {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      &--value {
        flex-direction: column;
      }
    }
  }
  .categories {
    background-image: none;
    &__leaf {
      &--1 {
        top: 18%;
      }
      &--2 {
        width: 100px;
        bottom: auto;
        left: auto;
        top: 30%;
        right: 0;
      }
      &--3 {
        transform: rotate(260deg);
        top: 5%;
        left: auto;
        right: 2%;
      }
    }
    &__title {
      max-width: 400px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    &__img {
      margin: 0;
      width: 100%;
      padding-bottom: 200px;
      margin-bottom: 25px;
      &-title {
        max-width: 390px;
        margin-bottom: 15px;
      }
      img {
        width: 300px;
        bottom: -20px;
      }
    }
    &__container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto 1fr 1fr 1fr;
      grid-template-areas:
      'catImg catImg'
      'catTitle catTitle'
      ' catCard-1 catCard-2 '
      'catCard-3 catCard-4'
      'catCard-5 catCard-6'
      ;
    }
  }
  .offer {
    &__row {
      &--top {
        padding-right: 10px;
      }
    }
  }
  .footer {
    &__box {
      &--left {
        margin-right: 30px;
      }
    }
    &__img {
      display: none;
    }
    &__menu {
      height: 338px;
      &-link {
        font-size: 16px;
      }
    }
    &__block {
      &-link {
        font-size: 16px;
      }
    }
    &__link {
      font-size: 16px;
    }
    &__button {
      font-size: 18px;
    }
  }
  .inst {
    padding-top: 60px;
  }
  .faq {
    padding-top: 100px;
    &__leaf {
      &--2 {
        display: none;
      }
    }
    &__container {
      padding-top: 120px;
    }
    &__title {
      position: absolute;
      top: 50px;
      left: 70px;
    }
    &__button {
      display: block;
      margin: auto;
    }
    &__text {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    &__row {
      flex-wrap: wrap;
    }
    &__box {
      flex-basis: 100%;
      margin-right: 0;
      &--tabs {
        order: -1;
        margin-bottom: 50px;
      }
    }
  }
  .contacts {
    padding-top: 30px;
    &__row {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__map {
      flex-basis: 100%;
      order: -1;
      margin-bottom: 30px;
    }
    &__box {
      flex-basis: 50%;
    }
  }
  .open {
    &__leaf {
      &--2 {
        top: 9%;
      }
      &--1 {
        top: 10%;
      }
    }
    padding-top: 80px;
    &__bg {
      left: 0;
      transform: translateY(-40%);
    }
    &__img {
      width: 190px;
      height: 180px;
    }
    &__row {
      grid-template-columns: auto 190px 190px;
      grid-template-rows: repeat(11, 28px);
      grid-gap: 10px;
    }
  }
  .stock {
    &__card {
      width: 250px;
      height: 200px;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      &--comment {
        .stock__img {
          width: 122px;
        }
      }
      &--cashback {
        background-position-x: 10px;
        .stock__img {
          width: 130px;
        }
      }
    }
    &__text {
      &--price {
        max-width: 110px;
      }
      &--comment {
        max-width: 100px;
      }
      &--small {
        font-size: 12px;
        max-width: 115px;
      }
    }
    &__img {
      width: 245px;
    }
  }
  .slider {
    &__link {
      font-size: 16px;
    }
    &__tab {
      width: 85px;
      height: 64px;
      border-radius: 15px;
    }
    &__title {
      max-width: 360px;
    }
    &__box {
      &-img {
        height: 255px;
        &-row {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &__arrow {
      width: 40px;
      height: 40px;
    }
    &__container {
      padding-left: 60px;
      padding-right: 60px;
    }
    &__content {
      flex-basis: 45%;
      &-link {
        font-size: 14px;
      }
      &-row {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
      }
      &-logo {
        &:nth-child(-n + 2) {
          margin-bottom: 5px;
        }
      }
      &-title {
        margin-bottom: 5px;
      }
      &-text {
        &--ingredients {
          margin-bottom: 10px;
        }
        &--description {
          margin-bottom: 20px;
        }
      } 
    }
  }
  .doubt {
    &__container {
      background-size: auto;
      padding: 20px
    }
    &__leafs {
      &--1 {
        top: -13%;
      }
      &--3 {
        bottom: auto;
        top: -10%;
      }
      &--2 {
        right: 45%;
      }
    }
  }
  .advantages {
    padding-bottom: 100px;
    background-size: contain;
    &__img {
      width: 140px;
      height: 130px;
    }
    &__olives {
      width: 80px;
    }
  }
  .step {
    &__arrow {
      display: none;
    }
    &__row {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
    &__img {
      width: 150px;
    }
  }
  .main {
    padding-bottom: 50px;
    &__box {
      margin-right: 20px;
    }
    &__button {
      &--left {
        margin-right: 10px;
      }
    }
    &__leafs {
      &--6 {
        top: 3%;
      }
      &--3 {
        left: 56%;
      }
      &--2 {
        top: 0;
      }
      &--5 {
        display: none;
      }
      &--4 {
        display: none;
      }
      &--1 {
        display: none;
      }
      &--7 {
        bottom: -3%;
      }
    }
    &__img {
      width: 220px;
    }
    &__row {
      justify-content: space-around;
    }
  }
  .section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .nav {
    display: none;
  }
  .header {
    &__tel {
      display: none;
    }
    &__cabinet {
      margin-right: 15px;
      &-text {
        display: none;
      }
    }
    &__burger {
      display: flex;
    }
    &__basket {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 900px) {
  .inst {
    &__link {
      &--mobile {
        font-size: 20px;
        display: block;
        margin-bottom: 20px;
      }
    }
    &__button {
      &--mobile {
        display: block;
        max-width: 285px;
        margin: auto;
      }
    }
    padding-left: 0;
    padding-right: 0;
    &__title {
      padding-left: 10px;
    }
    &__wrap {
      margin-bottom: 30px;
      overflow: hidden;
      position: relative;
      height: 216px
    }
    &__row {
      width: 665px;
      position: absolute;
      left: 35%;
      bottom: 0;
    }
    &__card {
      &--last {
        display: none;
      }
    }
    &__progress {
      display: block;
      margin-bottom: 50px;
    }
  }
}
@media screen and (max-width: 810px) {
  .progress {
    display: block;
  }
  .stock {
    padding-right: 0;
    &__wrap {
      overflow: hidden;
      margin-bottom: 30px;
      height: 230px;
      position: relative;
    }
    &__row {
      width: 790px;
      position: absolute;
      bottom: 0;
      left: 25%;
    }
  }
}
@media screen and (max-width: 767px) {
  .footer {
    &__row {
      flex-direction: column;
      align-items: center;
    }
    &__menu {
      height: auto;
    }
    &__label {
      margin-bottom: 25px;
    }
    &__text {
      margin-bottom: 25px;
    }
    &__wrap {
      border-bottom: 1px solid #9B34E7;
      padding-bottom: 15px;
    }
    &__box {
      &--right {
        width: 455px;
      }
    }
    &__input {
      width: 100%;
    }
    &__block {
      justify-content: space-between;
    }
    &__link {
      text-align: center;
    }
    &__button {
      width: 100%;
    }
  }
  .contacts {
    &__title {
      margin-bottom: 80px;
    }
    &__tabs {
      right: auto;
      left: 0px;
      top: 80px;
      flex-wrap: wrap;
      &-text {
        font-size: 10px;
      }
      &-item {
        margin-right: 5px;
        margin-bottom: 5px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__box {
      flex-basis: 100%;
    }
    &__map {
      height: 300px;
    }
  }
  .open {
    padding-bottom: 30px;
    &__img {
      margin: auto;
    }
    &__bg {
      &--1 {
        display: none;
      }
      &--3 {
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -45%);
        width: 500px;
      }
    }
    &__box {
      padding: 30px 0 30px 0;
    }
    &__leaf {
      &--1 {
        right: 0;
        left: auto;
        top: 55%;
        transform: rotate(40deg);
      }
      &--2 {
        right: 0;
        left: auto;
        top: 45%;
        transform: rotate(100deg);
      }
    }
    &__row {
      max-width: 430px;
      margin-left: auto;
      margin-right: auto;
      grid-gap: 0;
      grid-template-columns: 1fr 10px 1fr;
      grid-template-rows: repeat(18, 10px) auto repeat(18, 10px);
      grid-template-areas: 
        'img1 . .'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        'img1 . img2'
        '. . img2'
        'box box box'
        'img3 . .'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        'img3 . img4'
        '. . img4';
    }
  }
  .partners {
    &__logo {
      &--5, &--6 {
        display: none;
      }
    }
  }
  .slider {
    &__row {
      &--title {
        padding-right: 10px;
      }
    }
    padding-right: 0;
    &__row {
      &--tab {
        margin-bottom: 20px;
        width: 678px;
        margin-left:auto;
        margin-right: auto;
      }
    }
    &__wrap {
      &-img {
        border-radius: 10px;
      }
      &--tab {
        overflow: hidden;
      }
    }
    &__tab {
      width: 76px;
      height: 53px;
      border-radius: 10px;
    }
    border-radius: 0;
    padding-bottom: 55px;
    &__content {
      flex-basis: 100%;
      &-row {
        justify-content: flex-start;
      }
    }
    &__box {
      flex-direction: column;
      align-items: flex-start;
      padding-right: 10px;
      &-img {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        max-height: 337px;
        margin-bottom: 20px;
        border-radius: 10px;
      }
    }
    &__container {
      padding: 0;
    }
    &__arrow {
      display: none;
    }
  }
  .doubt {
    &__img {
      width: 185px;
    }
    &__leafs {
      &--1 {
        top: -20%;
      }
      &--2 {
        right: 28%;
      }
    }
  }
  .advantages {
    &__row {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__text {
      margin-left: auto;
      margin-right: auto;
      max-width: 260px;
      &--1 {
        max-width: 220px;
      }
      &--4 {
        max-width: 180px;
      }
    }
    &__card {
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(-n + 2) {
        margin-bottom: 40px;
      }
    }
    &__olives {
      display: none;
    }
    &__card {
      flex-basis: 40%;
    }
  }
  .step {
    &__row {
      grid-template: 1fr 1fr/ 1fr 1fr;
      grid-gap: 10px;
    }
    &__text {
      max-width: 200px;
      margin: auto;
    }
    &__img {
      margin-bottom: 10px;
    }
  }
  .main {
    &__buttons {
      display: flex;
      flex-direction: column;
    }
    &__title {
      font-size: 30px;
      max-width: 300px;
      line-height: 50%;
    }
    &__button {
      width: 275px;
      margin-left: 0;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__leaf {
      &--text {
        width: 30px;
        transform: translateY(15px);
      }
    }
    &__text {
      font-size: 16px;
      line-height: 22px;
      max-width: 360px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 575px) {
  .path {
    display: none;
  }
  .product {
    padding-bottom: 60px;
    padding-top: 40px;
    background-position-y: 125%;
    &-offer {
      margin-top: 0;
    }
    &__tabs {
      padding-bottom: 0;
      border-radius: 0;
      background: $light;
      &__row {
        margin-bottom: 20px;
      }
      &-text {
        &--desc {
          font-size: 14px;
        }
      }
      &-header {
        margin-bottom: 20px;
      }
      &-box {
        width: 100%;
      }
      &-text {
        &--comment {
          display: none;
        }
      }
      &-comment {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &-box {
          max-width: 230px;
        }
        &-date {
          font-size: 10px;
        }
        &-name {
          font-size: 14px;
          margin-bottom: 10px;
        }
        &-text {
          margin-left: -69px;
          font-size: 14px;
        }
        &__row {
          &--stars {
            margin-bottom: 5px;
            img {
              width: 14px;
              height: 14px;
              margin-right: 5px;
            }
          }
        }
        &-img {
          width: 44px;
          height: 44px;
        }
      }
      &-tab {
        margin-right: 20px;
        &-value {
          display: none;
        }
      }
      &-title {
        font-size: 14px;
      }
      &-advice {
        align-items: flex-start;
        &--mobile {
          display: block;
          order: -1;
          margin-bottom: 40px;
        }
        &--say {
          display: none;
        }
        &--author {
          flex-wrap: wrap;
        }
        &-title {
          &--author {
            max-width: 160px;
          }
        }
        &-img {
          width: 70px;
          height: 70px;
        }
        &-button {
          margin: auto;
          margin-top: 20px;
        }
      }
    }
    &__price {
      &-button {
        margin-top: 35px;
      }
    }
    &__input {
      font-size: 18px;
    }
    &__hit {
      &-img {
        display: block;
      }
    }
    &__features {
      &__card {
        margin-right: 25px;
        height: 50px;
        &:last-child {
          display: none;
        }
        &-title {
          font-size: 10px;
        }
        &-subtitle {
          font-size: 10px;
          font-family: "Nunito-600";
        }
      }
    }
    &__value {
      &-text {
        font-size: 12px;
        max-width: 170px;
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      &-text {
        order: 3;
        font-size: 12px;
        max-width: 290px;
        margin-bottom: 25px;
      }
    }
    &-offer {
      &__card {
        &-die {
          font-size: 12px !important;
          padding: 5px 10px !important;
        }
      }
    }
    &__row {
      &--hit {
        margin-bottom: 10px;
        // order: 1;
      }
      &--stars {
        // order: 2;
        img {
          width: 14px !important;
          height: 14px !important;
        }
      }
      &--features {
        order: 2;
      }
      &--value {
        order: 1;
        margin-bottom: 20px;
      }
      &--price {
        order: 4;
        flex-wrap: wrap;
        max-width: 290px;
      }
    }
    &__title {
      font-size: 18px;
      text-align: left;
      max-width: 290px;
      margin: auto;
      margin-bottom: 25px;
    }
    &__img {
      width: 290px;
      height: 170px;
    }
  }
  .filter {
    padding-top: 15px;
    padding-right: 0;
    padding-left: 0;
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
    &__select, &__option {
      font-size: 14px;
    }
    &__text {
      font-size: 14px;
      &--mobile {
        display: block;
        font-size: 16px;
        margin-bottom: 15px;
      }
      &--bottom {
        display: block;
        font-size: 16px;
      }
    }
    &__item {
      padding: 0;
      margin-bottom: 35px;
      &:first-of-type {
        display: none;
      }
      &:last-of-type {
        margin-bottom: 30px;
      }
    }
    &__select {
      font-size: 14px;
    }
  }
  .element {
    padding-top: 40px;
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }
    &__subtitle {
      font-size: 16px;
      margin-bottom: 30px;
    }
    &-offer {
      &__row-top {
        display: flex !important;
        margin-bottom: 30px;
      }
      &__arrows {
        display: none;
      }
    }
    &__row {
      grid-template-columns: repeat(auto-fill, 142px);
      row-gap: 20px;
    }
  }
  .categories {
    &__arrow {
      svg {
        width: 20px;
      }
    }
    &__card {
      width: 140px;
      &-footer {
        padding: 12px;
      }
      &-img {
        width: 140px;
        height: 70px;
      }
      &-text {
        font-size: 14px;
      }
    }
    &__title {
      margin-right: auto;
      margin-left: 0;
      margin-bottom: 20px;
      max-width: 350px;
      text-align: left;
    }
    &__img {
      padding-bottom: 155px;
      img {
        width: 275px;
      }
      &-title {
        font-size: 18px;
        margin-bottom: 5px;
        max-width: 250px;
      }
      &-subtitle {
        font-size: 14px;
      }
    }
  }
  .offer {
    padding-left: 10px;
    padding-bottom: 60px;
    &__row {
      flex-wrap: wrap;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
    }
    &__wrap {
      height: auto;
      overflow: visible;
    }
    &__card {
      display: none;
      margin-right: 0;
      margin-right: 10px;
      height: 315px;
      border-radius: 6px;
      margin-bottom: 25px;
      &:nth-child(-n + 4) {
        display: flex;
      }
      &-footer {
        &-item {
          font-size: 14px;
          img {
            width: 16px;
            height: 16px;
          }
          &:first-child {
            display: none;
          }
        }
      }
      &-wrap {
        &--top {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      &-weight {
        font-size: 10px;
        margin-right: 5px;
        img {
          width: 10px;
          height: 10px;
        }
      }
      &-title {
        font-size: 12px;
        margin-bottom: 5px;
      }
      &-text {
        font-size: 10px;
        max-width: 130px;
      }
      &-img {
        margin-top: -8px;
        border-radius: 6px;
        width: 130px;
        height: 80px;
        margin-bottom: 10px;
      }
      &-block {
        &>img {
          width: 9px;
          height: 9px;
        }
      }
      &-die {
        font-size: 9px;
        margin-right: 5px;
        padding: 2px 5px;
      }
    }
    &__row {
      &--weight {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
      }
      &--top {
        margin-bottom: 25px;
      }
      &--stars {
        margin-bottom: 10px;
      }
    }
    padding-top: 60px;
    &__title {
      margin-bottom: 30px;
    }
    &__tabs {
      &-block {
        display: none;
      }
      &-item {
        padding: 7px 22px;
        margin-right: 10px;
      }
      &-text {
        font-size: 12px;
      }
    }
  }
  .footer {
    border: none;
    &__link {
      margin-bottom: 30px;
    }
    &__block {
      border-bottom: 1px solid #9B34E7;
      padding-bottom: 30px;
      margin-bottom: 50px;
    }
    &__text {
      &--gray {
        display: none;
      }
    }
    &__pay {
      display: none;
    }
    &__box {
      padding-top: 15px;
      &--right {
        padding-top: 30px;
        width: 100%;
      }
    }
    &__menu {
      border-radius: 0px 0px 8px 8px;
      padding: 20px;
      padding-bottom: 0;
      right: 0;
      top: 0;
      &-header {
        display: flex;
      }
      &-link {
        margin-bottom: 10px;
      }
    }
    &__wrap {
      position: relative;
      width: 100%;
    }
    &__menu {
      position: absolute;
      &-wrap {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
      }
    }
    &__label {
      width: 140px;
    }
    &__text {
      font-size: 12px;
      max-width: 290px;
    }
  }
  .inst {
    &__row {
      left: 10px;
    }
  }
  .faq {
    background-color: #fff;
    padding-top: 40px;
    &__button {
      padding: 15px 30px;
      width: 100%;
    }
    &__tab {
      &-row {
        padding: 15px 0px 15px 0;
      }
      &-title {
        font-size: 16px;
      }
      &-content {
        font-size: 12px;
      }
    }
    &__title {
      margin-bottom: 0;
      top: 0;
      left: 0px;
    }
    &__container {
      border: none;
      padding: 35px 0px 50px;
    }
    &__leaf {
      display: none;
    }
  }
  .contacts {
    padding-bottom: 30px;
    &__title {
      margin-bottom: 100px;
    }
    &__tabs {
      max-width: 300px;
      top: 55px;
    }
    &__accord {
      &-content {
        display: flex;
        &-text {
          font-size: 10px;
        }
        &-box {
          margin-bottom: 0;
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      &-row {
        padding: 10px 0;
      }
    }
    &__accord {
      &-header {
        &-title {
          font-size: 14px;
        }
        &-text {
          font-size: 10px;
        }
      }
    }
    &__map {
      height: 200px
    }
    &__box {
      border: none;
      background-color: $light;
      &-title {
        padding-left: 0;
        font-size: 16px;
      }
    }
    &__wrap {
      padding: 0;
    }
  }
  .open {
    &__row {
      grid-template-rows: 117px auto 117px;
      grid-template-areas: 
        'img1 . img2'
        'box box box'
        'img3 . img4'
      ;
    }
    &__bg {
      border-radius: 20px;
      overflow: hidden;
      &--3 {
        width: 290px;
        height: 320px;
        transform: translate(-50%, -40%);
        img {
          height: 100%
        }
      }
    }
    &__leaf {
      &--1 {
        width: 70px;
      }
      &--2 {
        width: 50px;
      }
    }
    &__row {
      max-width: 260px;
    }
    &__box {
      padding: 30px 0 30px 0;
    }
    &__img {
      width: 121px;
      height: 117px;
      &--2, &--4 {
        transform: translateY(10px);
      }
    }
    &__title {
      max-width: 400px;
      margin-bottom: 20px;
    }
    &__button {
      font-size: 16px;
      padding: 15px 40px;
    }
  }
  .partners {
    &__title {
      margin-bottom: 30px;
    }
    &__row {
      max-width: 300px;
      margin: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__logo {
      &:nth-child(2n-1) {
        margin-right: 25px;
      }
    }

  }
  .stock {
    background-color: $light;
    margin-top: 0;
    &__row {
      left: 0;
    }
  }
  .slider {
    &__link {
      font-size: 14px;
    }
    padding-bottom: 30px;
    &__row--title {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    &__title {
      max-width: 280px;
      margin-bottom: 10px
    }
    background: $light;
    &__content {
      &-logo {
        img {
          width: 16px;
          height: 16px;
        }
        
      }
      &-row {
        align-items: flex-start;
      }
      &-text {
        font-size: 12px;
      }
      &-title {
        font-size: 16px;
      }
    }
    &__box {
      position: relative;
      &-img {
        max-height: 230px;
        margin-bottom: 48px;
        &-row {
          bottom: 0;
          transform: translate(-50%, 50%);
          z-index: 10;
        }
      }
    }
  }
  .doubt {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 55px;
    &__container {
      background: url(../img/doubt/bg-mobile.png) no-repeat center;
      background-size: cover;
      padding: 0;
      padding-left: 30px;
      padding-bottom: 30px;
    }
    &__button {
      padding: 15px 40px;
    }
    &__leafs {
      &--3 {
        width: 60px;
        right: 5%;
        top: auto;
        bottom: -5%;
      }
      &--1 {
        width: 60px;
        transform: rotate(65deg);
        top: 2%;
        left: 10%;
      }
      &--2 {
        right: auto;
        left: -15px;
        top: 10%;
      }
    }
    &__img {
      align-self: flex-end;
      margin-right: -7px;
      margin-top: -55px;
    }
    &__row {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    &__text {
      font-size: 18px;
      max-width: 220px;
    }
    &__title {
      max-width: 230px;
    }
    &__button {
      font-size: 16px;
    }
  }
  .advantages {
    padding-bottom: 60px;
    &__title {
      margin-bottom: 30px;
    }
    &__text {
      font-size: 14px;
    }
    &__img {
      width: 110px;
      height: 110px;
    }
    &__card {
      margin-right: 0;
    }
  }
  .section {
    &__title {
      font-size: 24px;
    }
  }
  .step {
    background-color: $light;
    padding-bottom: 30px;
    &__title {
      font-size: 24px;
      margin-bottom: 30px;
    }
    &__text {
      font-size: 14px;
    }
    &__img {
      margin-bottom: 20px;
      width: 130px;
      height: 140px;
    }
    &__card {
      height: 220px;
    }
  }
  .main {
    padding-bottom: 20px;
    background: none;
    background-color: $light;
    overflow: hidden;
    &__title {
      margin-bottom: 10px;
    }
    &__button {
      width: 100%;
    }
    &__box {
      margin-right: 0;
      width: 100%;
    }
    &__row {
      justify-content: center;
    }
    &__text {
      margin-bottom: 290px;
    }
    &__img {
      display: none;
      &--mobile {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-55%);
        top: 150px;
        width: 640px;
      }
    }
    &__leafs {
      &--7 {
        width: 45px;
        transform: rotate(280deg);
        bottom: 24%;
      }
      &--2 {
        display: none;
      }
      &--3 {
        z-index: 3;
        width: 25px;
        left: 7%;
        top: 40%;
      }
      &--4 {
        display: block;
        z-index: 3;
        left: 22%;
        top: 55%;
        width: 70px;
      }
      &--6 {
        transform: rotate(170deg);
        top: 34%;
        right: 6%;
      }
    }
  }
  .header {
    background-color: $light;
    padding-bottom: 10px;
    padding-top: 10px;
    &__logo {
      width: 120px;
    }
  }
}

@media screen and (max-width: 450px) {
  .main {
    &__img {
      &--mobile {
        transform: translateX(-63%);
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .slider {
    &__box {
      &-img {
        max-height: 200px;
      }
    }
  }
}