* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 130%;
  font-weight: normal;
  font-style: normal;
  color: $black;
  background-color: $light;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: $black;
}
ul {
  list-style-type: none;
}
.section {
  padding-left: 20px;
  padding-right: 20px;
  &__title {
    font-family: 'Nunito-900';
    font-size: 48px;
    line-height: 130%;
    &--small {
      font-family: 'Nunito-900';
      font-size: 36px;
      line-height: 130%;
    }
  }
}
.text {
  &-alignR {
    text-align: right;
  }
  &-dark {
    color: $gray !important;
  }
  &-red {
    color: #EB001B;
  }
  &-green {
    color: $green;
  }
  &-white {
    color: $white;
  }
  &-purple {
    color: $purple;
  }
  &-gray {
    color: $gray;
  }
  &-bold {
    font-family: 'Nunito-Bold';
  }
  &-800 {
    font-family: 'Nunito-800';
  }
}
.align-center {
  align-items: center;
}
.hover-text {
  transition: .2s;
  &:hover {
    opacity: 0.6;
  }
}

.progress {
  margin: auto;
  width: 300px;
  height: 3px;
  display: none;
  background-color: #9AACB4;
  &__inner {
    transition: 0.3s;
    width: 0;
    height: 100%;
    background-color: $purple;
  }
}
input {
  border: none;
  &:focus {
    outline: none;
  }
}
.body {
  &__nav {
    display: flex;
    padding-top: 40px;
    align-items: center;
    &-link {
      font-size: 16px;
      line-height: 130%;
      color: #9AACB4;
      cursor: pointer;
    }
    &-arrow {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.bg {
  &-light {
    background-color: $light;
  }
}
.header--non-shadow {
  box-shadow: none;
}
.border-bottom {
  padding-bottom: 20px;
  border-bottom: 1px solid #CEE5EE;
}
.d-flex {
  display: flex;
}