.header {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: relative;
  &--active {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    animation-name: toTop;
    animation-duration: 1s;
  }

  &__tel {
    font-family: 'Nunito-800';
    margin-right: 35px;
    cursor: pointer;
  }
  &__cabinet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    &-text {
      font-family: 'Nunito-600';
      font-size: 16px;
    }
  }
  &__basket {
    cursor: pointer;
  }
  &__burger {
    width: 25px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-line {
      width: 100%;
      background-color: $purple;
      height: 3px;
      border-radius: 5px;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
  }

}
.nav {
  display: flex;
  justify-content: space-between;
  &__link {
    font-family: 'Nunito-600';
    font-size: 16px;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
    &--msc {
      display: flex;
      align-items: center;
      margin-right: 50px;
    }
  }
}

.menu {
  height: 0;
  position: absolute;
  top: 99%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
  transition: 0.3s;
  max-height: 0;
  overflow: hidden;
  z-index: 500;
  &__inner {
    border-top: 1px solid #CEE5EE;
    border-bottom: 1px solid #CEE5EE;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
    a {
      display: block;
      font-family: 'Nunito-600';
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #646D82;
      margin-bottom: 10px;
      &:first-of-type {
        margin-top: 10px;
      }
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
  &__button {
    margin-bottom: 20px;
  }
  &--active {
    padding: 20px 0; 
  }
  &__arrow {
    position: absolute;
    right: -15px;
    top: 40%;
    transition: 0.3s;
    &--active {
      transform: rotate(90deg);
    }
  }
  &__link {
    margin-bottom: 10px;
    font-family: 'Nunito-600';
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    &:first-of-type {
      position: relative;
      margin-top: 20px;
    }
    &:nth-child(6) {
      margin-bottom: 60px;
    }
    &:nth-child(7) {
      margin-bottom: 20px;
      font-family: 'Nunito-Bold';
      font-size: 20px;
      line-height: 130%;
      color: #74029E;
    }
  }
}