.recipe {
  padding-top: 70px;
  padding-right: 20px;
  &__main {
    background-image: url(../img/advantages/bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
  }
  &__step {
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 106.03%);
    border-radius: 0px 160px;
    padding-bottom: 330px;
    padding-top: 120px;
    &__row {
      justify-content: space-around;
    }
    &-tabs {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-content {
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;
      &-img {
        display: none;
        width: 365px;
        height: 255px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
      }
    }
    &-plus {
      width: 20px;
      height: 20px;
      position: relative;
    }
    &-hor {
      width: 100%;
      height: 1px;
      background-color: $purple;
      position: absolute;
      top: 50%;
    }
    &-vert {
      position: absolute;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: $purple;
      transition: 0.3s;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      cursor: pointer;
      &--active {
        .recipe__step-item-title {
          color: $purple;
        }
      }
    }
    &-item {
      border-bottom: 1px solid #B9CCD3;
      &-title {
        font-family: 'Nunito-Bold';
        font-size: 18px;
        line-height: 130%;
      }
    }
    &-text {
      max-width: 555px;
      font-size: 18px;
      line-height: 130%;
      padding-left: 20px;
      border-left: 1px solid #74029E;
    }
    &-title {
      font-family: 'Nunito-Bold';
      font-size: 30px;
      line-height: 130%;
      margin-bottom: 60px;
    }
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      overflow: hidden;
      width: 628px;
      height: 443px;
    }
  }
  &-recipes__card-box {
    grid-area: box;
  }
  &-product__row--value {
    margin-bottom: 30px;
  }
  &__text {
    font-size: 16px;
    line-height: 130%;
  }
  &__title {
    text-transform: uppercase;
    grid-area: title;
  }
  &__row {
    display: grid;
    grid-template: auto auto / auto 1fr;
    column-gap: 70px;
    grid-template-areas: 
      'img title'
      'img box'
      ;
    &--ul {
      justify-content: flex-start;
    }
  }
  &__img {
    width: 1023px;
    height: 443px;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: img;
  }
  &__ul {
    margin-right: 50px;
    &:last-of-type {
      margin-right: 0;
    }
    &--title {
      margin-bottom: 5px;
    }
  }
  &__li {
  line-height: 140%; 
  }
}