.slider {
  background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 106.03%);
  border-radius: 0px 160px;
  padding-bottom: 390px;
  &__row {
    &--title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 65px;
    }
    &--tab {
      margin-bottom: 40px;
      transition: 0.2s ease-out;
    }
  }
  &__link {
    font-family: 'Nunito';
    font-size: 20px;
    line-height: 130%;
    text-decoration-line: underline;
  }
  &__tab {
    width: 166px;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity .3s;
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      opacity: 1;
      border: 1px solid #74029E;
    }
    &--active {
      opacity: 1;
      border: 1px solid #74029E;
    }
  }
  &__container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  &__box {
    visibility: hidden;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: space-between;
    &--active {
      animation-name: fadeIn;
      animation-duration: 0.7s;
      visibility: visible;
      opacity: 1;
      display: flex;
    }
    &-img {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 650px;
      height: 400px;
      border: 1px solid #B9CCD3;
      border-radius: 20px;
      margin-right: 50px;
      &-row {
        position: absolute;
        bottom: 3%;
        left: 3%;
        &-logo {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
          &-text {
            font-family: 'Nunito-Bold';
            font-size: 14px;
            line-height: 13px;
            text-align: center;
            &--small {
              font-family: 'Nunito-600';
              font-size: 10px;
              line-height: 14px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  &__content {
    &-text {
      font-family: 'Nunito';
      font-size: 14px;
      line-height: 130%;
      &--ingredients {
        max-width: 440px;
        margin-bottom: 30px
      }
      &--description {
        max-width: 440px;
        margin-bottom: 30px;
      }
    }
    &-title {
      font-family: 'Nunito-Bold';
      font-size: 18px;
      line-height: 130%;
      margin-bottom: 10px;
    }
    &-row {
      margin-bottom: 25px;
      justify-content: flex-start;
    }
    &-logo {
      display: flex;
      align-items: center;
      margin-right: 10px;
      img {
        margin-right: 5px;
      }
    }
    &-link {
      font-size: 14px;
      line-height: 130%;
    }
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #74029E;
    border: 1px solid #5A037A;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &--next {
      right: -130px
    }
    &--prev {
      left: -130px;
    }
  }
  &__wrap {
    &-img {
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
    }
  }
}
