.we {
  padding-top: 70px;
  padding-bottom: 140px;
  background-image: url(../img/advantages/bg.png);
  background-repeat: no-repeat;
  background-position-y: 200px;
  &__footer {
    &__title {
      font-family: 'Nunito-900';
      font-size: 30px;
      line-height: 130%;
      text-align: center;
      text-transform: uppercase;
      max-width: 975px;
      margin-left: auto;
      margin-right: auto;
      color: #039E25;
    }
    &__text {
      font-size: 24px;
      line-height: 130%;
      text-align: center;
      max-width: 1230px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 130px;
    }
  }
  &-fr {
    background: #FFFFFF;
    border: 1px solid #B9CCD3;
    border-radius: 16px;
    padding: 45px 45px 45px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    &__row {
      flex-wrap: wrap;
    }
    &__weight {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: $purple;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -6px;
      bottom: -16px;
      p {
        font-family: 'Nunito-Bold';
        font-size: 14px;
        line-height: 13px;
        text-align: center;
        color: #FFFFFF;
      }
    }
    &__card {
      position: relative;
      margin-right: 35px;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 180px;
      height:180px;
      border: 1px solid #B9CCD3;
      border-radius: 10px;
    }
    &__title {
      font-family: 'Nunito-900';
      font-size: 30px;
      line-height: 130%;
      max-width: 460px;
    }
  }
  &-adv {
    margin-bottom: 160px;
    &__wrap {
      margin-right: auto;
      margin-left: auto;
    }
    &__card {
      margin-right: 10px;
      &:last-of-type {
        margin-right: 0;
      }
      &__text {
        max-width: 340px;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
      }
      &__box {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
      }
      &__title {
        font-family: 'Nunito-Bold';
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        color: #74029E;
        max-width: 275px;
      }
    }
    &__title {
      margin-bottom: 60px;
      text-align: center;
    }
    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &__leaf {
    position: absolute;
    &--1 {
      top: -50px;
      left: 20px;
    }
    &--2 {
      right: 3%;
      bottom: -180px;
    }
    &--3 {
      right: 0;
      bottom: 0;
    }
  }
  &__box {
    position: relative;
    background: linear-gradient(87.94deg, #6A1DE9 -0.7%, #74029E 101.17%);
    border-radius: 16px;
    padding: 45px 0;
    margin-bottom: 180px;
    &__text {
      font-family: 'Nunito-900';
      font-size: 30px;
      line-height: 130%;
      text-align: center;
      color: #FFFFFF;
      max-width: 800px;
      margin: auto;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 70px;
  }
}

.add-menu {
  min-width: 200px;
  box-shadow: 30px 30px 30px rgba(0,0,0, .2);
  background-color: $light;
  border-radius: 4px;
  transition: 0.3s;
  &--active {
    max-width: 200px !important;
    min-width: 200px !important;
    .add-menu__burger__line {
      &:first-of-type {
        width: 100%;
        transform: rotate(-45deg);
        transform-origin: right top;
      }
      &:nth-child(2) {
        display: none;
      }
      &:last-of-type {
        transform-origin: right bottom;
        transform: rotate(45deg);
      }
    }
    .add-menu__ul {
      visibility: visible;
      opacity: 1;
    }
  }
  &__burger {
    position: absolute;
    right: -25px;
    top: 10px;
    width: 20px;
    height: 15px;
    z-index: 499;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    &__line {
      width: 100%;
      height: 2px;
      background-color: $black;
      transition: 0.3s;
      &:first-of-type {
        width: 60%;
      }
      &:nth-child(2) {
        width: 80%;
      }
    }
  }
  &__ul {
    position: relative;
    transition: 0.3s;
  }
  &__link {
    font-family: 'Nunito';
    font-size: 18px;
    padding: 15px;
    display: block;
  }
  &__li {
    border: 1px solid rgba(0,0,0, .2);
    border-bottom: none;
    transition: 0.3s;
    &--active {
      background-color: rgba(0,0,0, .1);
      &>.add-menu__link {
        font-family: 'Nunito-Bold';
      }
    }
    &:hover {
      background-color: rgba(0,0,0, .1);
    }
    &:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    &:last-of-type {
      border-bottom: 1px solid rgba(0,0,0, .2);
      border-radius: 0 0 4px 4px;
    }
  }
}